@import "style.css"; /* import style de l'entête du menu et du pied de page  */

/******************************************************************** ACCUEIL *************************************************************************/
nav ul li.menuprofil {
	background-color: #96CA2D;
}


/********************************** REVENIR EN HAUT **********************************/
.bouton{
	position: fixed;
	bottom: 40px;
	right: 15px;
	}

.bouton img{
	width: 20px;
	height: 20px;
}

/**************************************************************************************/
/**************************** POUR LES TABLETTES *************************************************************/
@media screen and (max-width: 1024px){
 
		
	iframe {
		height:350px;      /* reduit taille map */
		width: 500px;
	}

}
