@import "style.css"; /* import style de l'entête du menu et du pied de page  */

/******************************************************************** ACCUEIL *************************************************************************/
nav ul li.menuaccueil {
	background-color: #96CA2D;
}

.accueil {
margin-top: 20px;
display: inline-block;
width: 100%;
}

.accueil input{
margin-top: 10px;
}

h2{

display: table;
margin: 0 auto;

}
.connexion { 
display: block;
	float: left;
	width: 50%;
text-align: justify;
	margin-top: 40px;

}

.inscrire{
		float: right;
margin-top: 40px;
width: 50%;
}


/
/********************************** REVENIR EN HAUT **********************************/
.bouton{
	position: fixed;
	bottom: 40px;
	right: 15px;
	}

.bouton img{
	width: 20px;
	height: 20px;
}

/**************************************************************************************/
/**************************** POUR LES TABLETTES *************************************************************/
@media screen and (max-width: 1024px){
 
		
	iframe {
		height:350px;      /* reduit taille map */
		width: 500px;
	}

}
